.header {
    display: flex!important;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
}

.place-center {
    flex-grow: 3;
    justify-content: center;
    margin-left: 20px;
}

.place-end {
    display: flex;
    align-items: center;
}

.notification-container {
    margin-left: 40px;
    margin-right: 40px;
}
